<html>
    <head>
        <title>Sweetnat Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Sweetnat Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mon premier post</a></h2>
            <p>Salut! Voici mon premier post! J'essaie de créer ma page, et c'est plutôt hard.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mon second post</a></h2>
            <p>Ceci est un test! gnagnagnagnagnagnagnagnagnagna.</p>
        </div>
    </body>
</html>

